@model IEnumerable<Message>

@{
    ViewData["Title"] = "Сообщения";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Read)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @if (1 == item.Read)
                {
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                }else{
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" disabled>
                }
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
