@model TenantAccount.Data.Entities.Profile

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Профиль</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kpp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kpp)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalAddress)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAddress)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emai)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadPosition)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerFullName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankDetails)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationDocument)
        </dd>

    </dl>
</div>
@if (!User.IsInRole("admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
        <a asp-action="Index">Назад</a>
    </div>
} else
{
    <div>
        <a asp-action="AllProfil">Назад</a>
    </div>
}

